test/struct/basic-types-ref.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:example:schema" targetNamespace="urn:example:schema" elementFormDefault="qualified">
  <xs:element name="BasicTypes">
    <xs:annotation>
      <xs:documentation>Test schema for basic JSON Structure types</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Test schema for basic JSON Structure types</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="stringField" minOccurs="1" maxOccurs="1" type="xs:string">
          <xs:annotation>
            <xs:documentation>A basic string field</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="intField" minOccurs="1" maxOccurs="1" type="xs:int">
          <xs:annotation>
            <xs:documentation>A 32-bit integer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="longField" minOccurs="0" maxOccurs="1" type="xs:long">
          <xs:annotation>
            <xs:documentation>A 64-bit integer</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="floatField" minOccurs="0" maxOccurs="1" type="xs:float">
          <xs:annotation>
            <xs:documentation>A floating point number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="doubleField" minOccurs="0" maxOccurs="1" type="xs:double">
          <xs:annotation>
            <xs:documentation>A double precision number</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="booleanField" minOccurs="0" maxOccurs="1" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>A boolean value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="uuidField" minOccurs="0" maxOccurs="1" type="xs:string">
          <xs:annotation>
            <xs:documentation>A UUID value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="bytesField" minOccurs="0" maxOccurs="1" type="xs:base64Binary">
          <xs:annotation>
            <xs:documentation>Binary data</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
