test/struct/edge-cases-ref.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:example:schema" targetNamespace="urn:example:schema" elementFormDefault="qualified">
  <xs:element name="EdgeCases">
    <xs:annotation>
      <xs:documentation>Test schema for edge cases and special scenarios</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Test schema for edge cases and special scenarios</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="emptyString" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="veryLongString" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1000000"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="preciseDecimal" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="38"/>
              <xs:fractionDigits value="18"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="largeInteger" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:long">
              <xs:minInclusive value="-9223372036854775808"/>
              <xs:maxInclusive value="9223372036854775807"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="emptyArray" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="0" maxOccurs="0" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="nullableEverything" minOccurs="0" maxOccurs="1" type="xs:anyType"/>
        <xs:element name="deeplyNested" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="level1" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="level2" minOccurs="1" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="level3" minOccurs="1" maxOccurs="1">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="level4" minOccurs="1" maxOccurs="1">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="value" minOccurs="1" maxOccurs="1" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
