test/struct/extensions-ref.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:example:schema" targetNamespace="urn:example:schema" elementFormDefault="qualified">
  <xs:element name="ExtensionsExample">
    <xs:annotation>
      <xs:documentation>Test schema for JSON Structure extensions</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>Test schema for JSON Structure extensions</xs:documentation>
      </xs:annotation>
      <xs:sequence>
        <xs:element name="productName" minOccurs="1" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>Product name with alternate names</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="price" minOccurs="1" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:minInclusive value="0"/>
              <xs:totalDigits value="10"/>
              <xs:fractionDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="weight" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:double">
              <xs:minInclusive value="0.0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="temperature" minOccurs="0" maxOccurs="1" type="xs:double"/>
        <xs:element name="stockSymbol" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="10"/>
              <xs:pattern value="^[A-Z]{1,5}$"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
